@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #99d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

h1 {
    color: white;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 25px;
    padding-right: 100px;
}

.card {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #99d9d9;
    text-align: center;
    box-sizing: border-box;
}

.full-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 30px 35px;
    background: #99d9d9;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 0px #72afaf;
    text-align: center;
    box-sizing: border-box;
}

.left-card {
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fa-user-circle {
    margin-top: 5%;
    color: #ffffff;
    font-size: 250px;
    cursor: pointer;
}

p {
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;    
}

.right-card {
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    padding-bottom: 10px;
    font-size: 20px;
}

.text-field > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: white;
    color: black;
    font-size: 12;
    outline: none;
    box-sizing: border-box;
}

.text-field > input::placeholder{
    color: #545959ac;
}

.text-field > label{
    float: left;
    display: block;
    width: 100%;
    color: #f0ffffde;
    margin-bottom: 10px;
}

.fa-eye {
    color: #51b6b6;
    justify-self: baseline;
    cursor: pointer;
    position: absolute;
    padding-top: 35px;
    right: 8.5%;
}

.btn {
    display: grid;
    width: 100%;
    margin-bottom: 0px;
}

.btn-salvar {
    width: 100%;
    min-width: 10%;
    padding: 25px 45px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    background: #51b6b6;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #72afaf;
}

button:focus{
    border-color: white;
    box-shadow: 0 0 0 3px #206363;
    caret-color: white;
}

#msgError {
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ff0000;
    display: none;
}

#msgSuccess {
    text-align: center;
    color: #00ff00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #00ff00;
    display: none;
}