
/*
cor do fundo: #99d9d9
cor do botão: #51b6b6
*/

body {
    margin: 0; /*remover margem criado por padrão. Ao usar o body é criado uma margem de 8px*/
    font-family: Arial, Helvetica, sans-serif;
}

.main-login {
    width: 100vw;                        /*"Largura"; vw representa a porcentagem da largura da 'viewport', da 'tela'*/
    height: 100vh;                       /*"Altura"; vh representa a porcentagem da altura da 'viewport', da 'tela'*/
    background-color: #99d9d9;
    display: flex;                       /*Organizar os conteúdos dentro da div; 'Flex' faz as coisas ficarem lado a lado*/
    justify-content: space-between;      /*Centraliza as coisas no eixo X*/
    align-items: center;                 /*Centraliza as coisas no eixo Y*/
    flex-direction: row;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;       /*Tudo fique um em baixo do outro*/
}

.card-login {
    width: 80%;                             /*Será 60% do tamanho da div. O tamanho da div representa 50% da viewport, logo será de 60% sobre os 50vw da div*/
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;                 /*Tudo fique um em baixo do outro*/
    padding: 30px 35px;                     /*Margens pra dentro do componente. 1º valor se refere ao eixo Y, 2º valor se refere ao eixo X*/
    background: #99d9d9;                  /*Cor do plano de fundo*/
    border-radius: 20px;                    /*Arredonda a borda*/
    box-shadow: 0px 10px 50px #72afaf;    /*Sombra para o card. 1º valor se refere ao eixo X, 2º valor se refere ao eixo Y, 3º valor se refere ao 'blur', 4º valor se refere à cor*/
    text-align: center;
}

.card-login h1 {
    color: white;
    font-size: 70px;
    margin: 0;             /*Tirar a margem criada do H1*/
    padding-bottom: 20px;
}

.card-login h3 {
    color: white;
    font-size: 35px;
    margin: 0;             /*Tirar a margem criada do H3*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.selection-login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;            /*justify-content se refere ao eixo X, align-items se refere ao eixo Y. Ao utilizar o flex-direction os eixos se invertem*/
    padding-top: 20px;
    margin: 10px 0px;

}

.btn-login {
    width: 100%;
    padding: 25px 45px;        /*1º valor se refere ao eixo Y, 2º valor se refere ao eixo X*/
    margin: 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase; /*Deixa todas as letras em maiúsculo*/
    font-size: 20px;
    font-weight: 700;          /*Torna a fonte mais grossa*/
    letter-spacing: 2px;
    color: white;
    background: #51b6b6;
    cursor: pointer;           /*seta o cursor como cursor de ação*/
    box-shadow: 0px 10px 40px -12px #72afaf;
}

button:focus{
    border-color: white;
    box-shadow: 0 0 0 3px #72afaf;
    caret-color: white;
}

.right-login {
    width: 50vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-login-image {
    width: 80%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 10x 50px #72afaf;
}
