body {
    background-image: url(../img/loginDentista.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
}

header {
    transform: translate(-100%, -100%);
    position: absolute;
    font-size: 50px;
    top: 25%;
    left: 15%;
}

ul {
    list-style-type: none;
}

main {
    text-decoration: none;
    list-style: none;
}

input {
    background-color: white;
    border: none;   
    border-radius: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    size: 100px;
}

button {
    color: white;
    background-color: #51b6b6;
    border-radius: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    font-size: 25px;
}

.option1 {
    transform: translate(-100%, -100%);
    position: absolute;
    top: 50%;
    left: 30%;
}

.option2 {
    transform: translate(-100%, -100%);
    position: absolute;
    top: 70%;
    left: 30%;
}