@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #99d9d9;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fa-user-circle {
    box-sizing: border-box;
    color: #ffffff;
    font-size: 100px;
    cursor: pointer;
}

h1 {
    margin-top: 0;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

h3 {
    margin-top: 0;
    color: black;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.selection-button {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {

    width: 100%;
    padding: 25px 45px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    background: #51b6b6;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #72afaf;
}

button:focus{
    border-color: white;
    box-shadow: 0 0 0 3px #206363;
    caret-color: white;
}